* {
  scroll-behavior: smooth;
}

body {
  background-color: #1c2128;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
}

/* Style for the Scrollbar */
::-webkit-scrollbar {
  width: 16px;
  border: 1px solid #424242;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #686868;
  border-inline: 2px solid #424242;
}

/* Style for the top header */
header {
  box-sizing: border-box;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  background-color: #2d333b;
  border: 1px solid #444c56;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 64px;
}

header .content a {
  font-size: 2em;
  color: #ffffff;
  text-decoration: none solid rgba(205, 217, 229, 0.7);
  margin-left: 12px;
}


/* Style change for mobile devices */
@media (max-width: 750px) {
  header {
    height: auto;
    padding: 0px;
  }

  header .content a {
    font-size: 1.5em;
    margin-left: 6px;
  }

  ::-webkit-scrollbar {
    width: thin;
  }
}

.container {
  margin-top: 5%;
}

.button-holder {
  margin: 10px 0;
}

