* {
    scroll-behavior: smooth;
}

body {
    background-color: #1C2128;
}

header {
    box-sizing: border-box;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    background-color: #2D333B;
    z-index: 2;
    border: 1px solid #444C56;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 64px;
}

header .content {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 2em;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none solid rgba(205, 217, 229, 0.7);
}

.sidenav {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 400;
    height: 100%;
    width: 17.5%;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0px;
    background-color: #22272E;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid #444C56;
}

.sidenav a {
    padding-left: 12px;
    padding-top: 16px;
    color: #ADBAC7; 
    text-decoration: solid #ADBAC7;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: block;
}

.sidenav a:hover {
    color: #539BF5;
    text-decoration: underline solid #539BF5;
}

.container {
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 64px;
}

.container hr {
    border: 1px solid #444C56;
    margin-left: 10%;
}

.container h1 {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 24px;
    line-height: 36px;
    position: relative;
    margin-left: 10%;
    color: #ADBAC7;
}

.container ol {
    font-size: 18px;
    position: relative;
    margin-left: 11%;
}

.container ol li {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 18px;
    font-weight: 800;
    line-height: 48px;
    color: #ADBAC7;
}

@media (max-width: 1050px){
    .container {
        margin-right: 7.5%;
    }

    .sidenav {
        width: 22.5%;
    }

    .sidenav a {
        padding-left: 6px;
    }
}

@media only screen and (max-width: 750px) {
    header {
        width: 100%;
        height: auto;
        padding: 0, 0;
        z-index: 2;
        font-size: 1em;
    }
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        padding: 0, 0;
        z-index: 0;
        top: 57px;
        padding-top: 0;
        border-top: none;
    }

    .sidenav a {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 0;
        border-top: 1px solid  #373E47;
    }

    .container {
        z-index: 0;
        position: relative;
        margin-left: 2px;
        margin-right: 12px;
        margin-top: 54px;
        width: auto;
    }
    .container h1 {
        margin-left: 0;
        margin-right: 0;
    }
    .container ol {
        margin-left: 2%;
    }
}
